<article class="sidebar">
  <h1 class="sidebar-title">Các CLB đã dẫn dắt</h1>
  <p class="sidebar-body">
    
  </p>
  <div class="pixgrid clearfix">
    <% artwork.forEach(function (item, key) {%>
    <img src="/images/artwork/<%=item%>" alt="Artwork <%=key%>" />
    <%})%>
  </div>
</article>
