<%- include('./partials/topSpeakers') %>
<div class="container mt-4">
  <div class="row">
    <div class="col-md-8">
      <article class="article maincontent">
        <h1>Họ là ai?</h1>
        <p>
          Trong lịch sử bóng đá Wenger, Mourinho, Ferguson sẽ mãi được nhớ đến với tư cách 3 nhà cầm quân vĩ đại nhất Premier League. Qua 22 năm, "Giáo sư người Pháp" đã dẫn dắt Arsenal 3 lần lên ngôi ở hạng đấu cao nhất xứ sương mù, bao gồm chiến tích bất bại mùa 2003/04.

          Thời còn cầm quân tại Premier League, Sir Alex Ferguson và Jose Mourinho là 2 địch thủ lớn nhất của Wenger. Wenger và Sir Alex từng không ít lần khẩu chiến với nhau trong khoảng thời gian Arsenal so kè quyết liệt cùng Manchester United.

          Với Mourinho, tình hình còn căng thẳng hơn khi Wenger từng đẩy "Người đặc biệt" ở đường biên trong 1 trận derby thành London. Phát biểu qua truyền thông, nhà cầm quân Bồ Đào Nha có mô tả nổi tiếng về đồng nghiệp người Pháp rằng Wenger là "chuyên gia thất bại". Cựu thuyền trưởng Arsenal thì dùng từ "ngu ngốc" khi nói về Mourinho.
        </p>
        <p>
          Dù thế hồi tưởng lại về 2 kình địch, Wenger trải lòng với BBC Sport: " Dù thế bạn vẫn phải bảo vệ CLB của mình khi ở đó bằng mọi giá - đó là lý do vì sao đôi khi, chuyện vượt quá tầm kiểm soát."
        </p>
      </article>
      <article class="article maincontent">
        <h2 class="article-title">Lên nào !!</h2>
        <p>
          Hãy ủng hộ những HLV ngay cả khi họ đã nghỉ ngơi :
          <a href="https://twitter.com/arsene___wenger">Twitter Arsene Wenger</a>,
          <a href="https://twitter.com/josemourinhotv">Twitter Jose Mourinho</a>.
          <a href="https://twitter.com/real_sir_alex">Twitter Sir Alex Ferguson</a>.
        </p>
      </article>
    </div>

    <aside class="col-md-4">
      <article class="sidebar">
        <h1 class="sidebar-title">Họ từng nói </h1>
        <ul class="sidebar-body">
          <li>Mourinho: 'Wenger buồn thì tôi cũng buồn'. </li>
          <li>Sir Alex: 'Wenger đã chọn đúng thời điểm'</li>
          <li>
             Wenger: "Tôi tôn trọng họ. Khi ở trong 1 giải đấu, đó là bạn hoặc họ, vì vậy luôn có sự quyết liệt. Tuy nhiên khi bạn gặp họ ngoài giải đấu thì không phải như vậy."
          </li>
        </ul>
      </article>
      
    </aside>
  </div>
</div>